@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

html {
  background: rgb(2,83,84);
  background: -moz-radial-gradient(circle, rgba(2,83,84,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(2,83,84,1) 0%, rgba(0,0,0,1) 100%);
  background: radial-gradient(circle, rgba(2,83,84,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#025354",endColorstr="#000000",GradientType=1);

  height: 100%;
  padding: 0;
}

body {
  width: 60%;
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', serif;

  background: #021010;

  color: white;
  margin: 30px auto auto;
  padding: 15px;
  border-radius: 20px;
}

h1 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;  -webkit-font-smoothing: antialiased;
  font-size: 4.5em;
  margin: 0;
  padding: 0;
}

header p {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
  color: #918d8d;
  padding: 0;
  margin: 0 0 50px;
}

#player input {
  font-size: 1.3em;
  padding: 0.2em 0.5em;
  border: 1px solid #025354;
  background: #333;
  color: white;
  outline: none;
  border-radius: 5px 0 0 5px;
  width: 150px;
}

#player button {
  background: #025354;
  color: white;
  border: 1px solid #025354;
  border-radius: 0 5px 5px 0 ;
  padding: 0.2em 0.5em;
  font-size: 1.3em;
  cursor: pointer;
}

.challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.question {
    background: #025354;
    color: white;
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

.result-modal {
    background: #025354;
    color: white;
}

.result-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

button {
    background: #0a3030;
    color: white;
    border: 1px solid #0a3030;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}